.icon-remove, .icon-check {
    display: none;
  }
  .message-body{
    color:red;
    width:1150px;
    height:64px;
    font-size: 1.3em;
    padding-top: 1vh;
    padding: 18px;
    border: 1px solid red;
    margin-top: 30px;
    
  

  }


  .message{
    background: red;
    
  }
  article{
    width: 1150px;
    margin-left: 0px;
  
  
  }

  .hero-body{
    background:#CFFF8D;
    width: 18000px;
    height:140px;
    outline: #CFFF8D solid 68px;
    padding-left: 155px;
    padding-top: 2.2vh;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    
  }  

.icon{
  padding-top: 1.7vh;
    padding-left: .9vh;
    padding-bottom: 4px;
    font-size: 1.1em;
  

    
    
}
form{
  height:800px;
  padding: 0px 150px 0px 0px;
  padding-top: 1vh;
  
  
  

}




h1, h4{
    font-family: Arial, Helvetica, sans-serif;
     padding-bottom: 0px;
      margin: 0;
      word-spacing: 2px;
      padding-top: 9px;
}
h1{
    font-family: Times;
    font-size: 1.8em;
    padding-top: 3.4vh;
}
h4{
    font-family: 'Times New Roman';
    padding-top: 1px;
    font-weight: 70;
    font-size: 1.1em;
    padding-bottom: 0px;
}
.zip{
    background: white;
    color: black;
    font-family: Times;
    height: 24px;
    padding: 0px 900px 0px 22px;
    padding-top: 2.2vh;
    padding-bottom: 15px;
    border: 1px black;
    font-weight: 850;
    font-size: 1.1em;
    margin-top: 1.2vh;
    margin-right:0px ;
    
}



@media only screen and (max-width:700px){
  h1{
  padding-top: 4.6vh;
  }  
}
@media only screen and (max-width:700px){
  .icon{
    padding-bottom: 14px;
    margin-top:9px;
  }
}

@media only screen and (max-width:700px){
  .zip{
  margin-top: 2vh;
  }  
}



@media only screen and (max-width:700px){
  .body{
  height:200px;
  }  
}
